services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: study_bank
    ports:
      - "5432:5432"
    volumes:
      - ./db_data:/var/lib/postgresql/data