# nixpacks.toml

[phases.setup]
nixPkgs = ["nodejs", "openssl"]

[phases.install]
cmds = ["npm install"]

[phases.build]
# MODIFICACIÓN AQUÍ:
# Pasamos una DATABASE_URL falsa justo antes del comando.
# Esto satisface a Prisma para generar el cliente sin romper nada.
cmds = ["DATABASE_URL='postgresql://dummy:dummy@localhost:5432/dummy' npx prisma generate", "npm run build"]

# startCmd va fuera de las fases, al nivel raíz
startCmd = "npm run start"